*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #aca5a5;
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
    gap: 0.85rem;
    padding: 1rem;
    /* justify-self: center; */
    align-self: stretch;
}
.div{
    background-color: lightpink;
    border: 0.5rem solid rgb(22, 22, 22);
    border-radius: 0.2rem;
    height: 200px;
    width: 200px;

}