*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100%;
}
/* main-box */
.main{
    background-color:#D7E2F1;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* content-box */
.content-box{
    max-width: 65%;
    max-height: 140vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #FFFFFF;
    flex-direction: row;
    padding: 1.6rem;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0 auto;
    gap: 2rem;
}
.left-box{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    gap: 1rem;
    overflow: hidden;
    margin: 0 auto;
}
h1{
    color:rgb(11, 11, 11);
    font-size: 3.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
p{
    color:#747987;
    font-size: 2.2rem;
    font-family: "Poppins"
}
.right-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3D7FF;
    border-radius: 1.5rem;
    overflow: hidden; 
    width: 50%;
    height: 100%;
    padding: 6rem;
    overflow: hidden;
    margin: 0 auto;
}
img{
    width: 90%;
    height: 90%;
    object-fit: fill;
    overflow: hidden;
}
